    p,h1{
        color:crimson;
        font-family:Arial, Helvetica, sans-serif;
    } 

    #parrafo{
        color:rgb(184, 17, 250);
    }
    
    .parrafoclase{
        color: gold;
    }

div h1{
    color: yellowgreen;
}